<section class="product-container">
  <div class="w-full flex justify-start items-center">
    <magic-search-input
      class="lg:w-1/2 w-full sm:h-11 h-8"
      [formControl]="searchInput"
      outlineOption="2.5px solid #d3d3d3"
      placeholder="Search..."
    ></magic-search-input>
  </div>

  <div
    class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 content-start gap-4"
  >
    <ng-container *ngIf="selectedProducts$ | async as selectedProducts">
      <h6
        *ngIf="selectedProducts.length === 0"
        class="lg:col-span-4 md:col-span-3 sm:col-span-2 col-span-1 bg-slate-100 rounded p-2"
      >
        Selected products will show here.
        <sub>(Click on the product to select)</sub>
      </h6>
      <ng-container *ngIf="selectedProducts.length">
        <mat-chip-list
          class="lg:col-span-4 md:col-span-3 sm:col-span-2 col-span-1 bg-slate-100 rounded p-2"
        >
          <mat-chip
            *ngFor="let prod of selectedProducts"
            (removed)="onSelectProduct(prod)"
          >
            {{ prod?.ProductName }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>

        <div
          class="lg:col-span-4 md:col-span-3 sm:col-span-2 col-span-1 flex-start"
        >
          <app-button
            btnClass="bg-gray-600 outline-none text-white shadow-md"
            [matType]="ButtonTypes.round_stroked"
            [color]="ButtonColors.primary"
            icon="shopping_cart_checkout"
            text="Create order"
            (clicked)="onCreateOrder()"
          >
          </app-button>

          <app-button
            class="mx-3"
            [color]="ButtonColors.warn"
            [matType]="ButtonTypes.miniFap"
            icon="restart_alt"
            toolTip="Reset selected state"
            (clicked)="resetSelectedProducts()"
          >
          </app-button>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="products$ | async as products; else loader">
      <ng-container *ngIf="products.length > 0; else noData">
        <app-product
          *ngFor="let prod of products"
          [matTooltip]="
            prod?.selected
              ? 'Unselect'
              : prod?.AvailablePieces <= 5
              ? 'Edit quantity before select'
              : 'Select product'
          "
          [matTooltipPosition]="TooltipPositions.ABOVE"
          [product]="prod"
          [productSelected]="prod?.selected"
          (onEditProduct)="onEditProductQuantity($event)"
          (click)="onSelectProduct(prod)"
        ></app-product>
      </ng-container>
    </ng-container>
  </div>
</section>

<ng-template #loader>
  <mat-card class="m-0 p-0" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
    <shimmer-loading [loadingsCount]="4"></shimmer-loading>
  </mat-card>
</ng-template>

<ng-template #noData>
  <section class="lg:col-span-4 md:col-span-3 sm:col-span-2 col-span-1">
    <no-data
      [text]="
        searchInput.value
          ? 'No products matches this search input !!'
          : 'There is no products to show !!'
      "
    >
    </no-data>
  </section>
</ng-template>
